/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1024px; /* 横幅1024px */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
}

/* Header */
header {
  width: 100%; /* 横幅いっぱい */
  height: 70px; /* 高さ70px */
  background-color: #ec715f; /* 背景色#ec715f */
}

.header-group {
  display: flex; /* Flexboxの利用 */
  justify-content: space-between; /* 各アイテムを均等に配置し、最初のアイテムは先頭に寄せ、最後のアイテムは末尾に寄せる */
  font-size: 0; /* 見本では記述有り フレックスボックスを使っていても必要なのか？ */
}

.logo {
  height: 70px; /* 高さ70px */
}

.nav {
  display: flex; /* Flexboxの利用 */
}

.nav-list {
  width: 120px; /* 横幅120px */
  line-height: 70px; /* 行ボックスの高さ70px */
  color: #fafafa; /* 文字色を#fafafaに変更 */
  padding: 0 30px; /* 上下に0px、左右に30pxの内側余白 */
  list-style: none; /* リスト先頭にマークを入れたくない */
  font-size: 16px; /* フォントサイズを、16pxに設定 */
}

.nav-list a {
  color: #fafafa; /* 文字色を#fafafaに変更 */
}

/* MainVisual */
#mv {
  width: 100%; /* 横幅いっぱい */
  height: 650px; /* 高さ650px */
  text-align: center; /* 文字を中央揃えにする */
  color: #fafafa; /* 文字色を#fafafaに変更 */
  background-image: url(img/mv.png); /* 背景画像を設定する */
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}

.mv-title {
  padding-top: 200px; /* 上側の内側余白で垂直方向の位置を調整 */
  font-family: "Raleway", sans-serif; /* テキストのフォントを変更 */
  font-size: 64px; /* フォントサイズを、64pxに設定 */
}

.mv-text {
  padding-top: 10px; /* 上側の内側余白で垂直方向の位置を調整 */
  font-size: 20px; /* フォントサイズを、20pxに設定 */
}

/* Portfolio */
#portfolio {
  background-color: #eceff1; /* 背景色#eceff1 */
}

.heading {
  padding-top: 90px; /* 上側の内側余白で垂直方向の位置を調整 */
  text-align: center; /* 文字を中央揃えにする */
  font-family: "Raleway", sans-serif; /* テキストのフォントを変更 */
  font-size: 32px; /* フォントサイズを、32pxに設定 */
}

.heading::after {
  /* 疑似要素 */
  content: ""; /* 挿入したい文字がある場合は "" の中に記述する */
  display: block; /* ブロック要素にする */
  width: 70px; /* 横幅70px */
  height: 3px; /* 高さ3px */
  margin: 8px auto 0 auto; /* 上に8px、右は水平方向に中央寄せ、下に0px、左は水平方向に中央寄せの内側余白 */
  background-color: #ec715f; /* 背景色#ec715f */
}

.heading-text {
  padding-top: 30px; /* 上側の内側余白で垂直方向の位置を調整 */
  text-align: center; /* 文字を中央揃えにする */
  font-size: 16px; /* フォントサイズを、16pxに設定 */
}

.production-group {
  display: flex; /* Flexboxの利用 */
  flex-flow: row wrap; /* 横並び 複数行 */ /* ブロック要素にする */
  width: 920px; /* 横幅920px */
  padding: 30px 0 90px 0; /* 上に30px、右に0px、下に90px、左に0pxの内側余白 */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
}

.production {
  width: 300px; /* 横幅300px */
  height: 250px; /* 高さ250px */
  margin: 10px 10px 0 0; /* 上に10px、右に10px、下に0px、左に0pxの外側余白 */
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}

.production:nth-child(-n + 3) {
  /* :nth-child(-n+3)兄弟要素のグループの中で最初の3つの要素 [=-0+3, -1+3, -2+3] */
  margin-top: 0; /* 上に0pxの外側余白 */
}

.production:nth-child(3n) {
  /* 3番目 [=3×1], 6番目 [=3×2]の要素 */
  margin-right: 0; /* 右に0pxの外側余白 */
}

.bg-1 {
  background-image: url(img/sketch.jpg); /* 背景画像を設定する */
}

.bg-2 {
  background-image: url(img/websuku.png); /* 背景画像を設定する */
}

.bg-3 {
  background-image: url(img/write.jpg); /* 背景画像を設定する */
}

.bg-4 {
  background-image: url(img/webcamp.png); /* 背景画像を設定する */
}

.bg-5 {
  background-image: url(img/talk.jpg); /* 背景画像を設定する */
}

.bg-6 {
  background-image: url(img/webcamp-mother.png); /* 背景画像を設定する */
}

/* Feature */
#feature#feature {
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}

.strength-group {
  display: flex; /* Flexboxの利用 */
  width: 980px; /* 横幅980px */
  padding: 30px 0 90px 0; /* 上に30px、右に0px、下に90px、左に0pxの内側余白 */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
}

.strength {
  width: 320px; /* 横幅320px */
  margin-right: 10px; /* 右に10pxの外側余白 */
  /* ↓ font-awesomeのアイコンに反映させるコード*/
  text-align: center; /* 文字を中央揃えにする */
  font-size: 60px; /* フォントサイズを、60pxに設定 */
}

.strength:last-child {
  /* 兄弟要素のグループの中で最後の要素 */
  margin-right: 0; /* 右に0pxの外側余白 */
}

.strength-title {
  padding: 10px 0; /* 上下に10px、左右に0pxの内側余白 */
  font-size: 20px; /* フォントサイズを、20pxに設定 */
}

.strength-text {
  text-align: left; /* 文字を左揃えにする */
  font-size: 16px; /* フォントサイズを、16pxに設定 */
}

/* Profile */
#profile {
  background-color: #eceff1; /* 背景色#eceff1 */
}

.profile-group {
  display: flex; /* Flexboxの利用 */
  padding: 30px 0 90px 0; /* 上に30px、右に0px、下に90px、左に0pxの内側余白 */
}

.left-content {
  width: 50%; /* 横幅半分 */
}

.right-content {
  width: 50%; /* 横幅半分 */
}

.my-face {
  width: 250px; /* 横幅250px */
  height: 250px; /* 高さ250px */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
  border-radius: 50%; /* border-radiusはボックスの角丸を指定するプロパティ 今回の場合はすべてのコーナーの半径を50％に設定 */
  background-image: url(img/my-icon.jpg); /* 背景画像を設定する */
}

.description-title {
  margin: 20px 0 5px 0; /* 上に20px、右に0px、下に5px、左に0pxの外側余白 */
  font-size: 20px; /* フォントサイズを、20pxに設定 */
}

.description-title:first-child {
  /* 兄弟要素のグループの中で最初の要素 */
  margin-top: 0; /* 上に0pxの外側余白 */
}

.description-text {
  font-size: 16px; /* フォントサイズを、16pxに設定 */
}

/* Contact */
.contact-group {
  display: flex; /* Flexboxの利用 */
  width: 800px; /* 横幅800px */
  padding: 30px 0 90px 0; /* 上に30px、右に0px、下に90px、左に0pxの内側余白 */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
  white-space: nowrap; /* 自動で折り返しを無効 */
}

.left-contact-content {
  width: 130px; /* 横幅800px */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
}

.link-text {
  text-decoration: underline; /* 下線を引く */
  color: #212121; /* 文字色を#212121に変更 */
}

.right-contact-content {
  width: 170px; /* 横幅170px */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
}

.right-contact-content .fab {
  font-size: 50px; /* フォントサイズを、50pxに設定 */
  margin-right: 20px; /* 右に20pxの外側余白 */
}

.right-contact-content .fab:last-child {
  /* 兄弟要素のグループの中で最後の要素 */
  margin-right: 0; /* 右に0pxの外側余白 */
}

/* footer */
footer {
  width: 100%; /* 横幅いっぱい */
  height: 60px; /* 高さ60px */
  background-color: #ec715f; /* 背景色#ec715f */
  line-height: 60px; /* 行の高さ60px */
}

.copyright {
  font-size: 16px; /* フォントサイズを、16pxに設定 */
  color: #fafafa; /* 文字色を#fafafaに変更 */
  text-align: center; /* 文字を中央揃えにする */
}

/* Media Queries */

@media (max-width: 768px) {
  .container {
    width: 90%; /* 横幅90% */
  }

  .sp-none {
    display: none; /* 画面上で非表示にする */
  }

  .left-content {
    width: 100%; /* 横幅いっぱい */
  }

  .right-content {
    width: 100%; /* 横幅いっぱい */
  }

  /* Header */

  header {
    height: 50px; /* 高さ50px */
  }

  .logo {
    height: 50px; /* 高さ50px */
  }

  .menu-box {
    width: 40px; /* 横幅40px */
    height: 40px; /* 高さ40px */
    margin-right: 5%; /* 右に5%の外側余白 */
    border: 1px solid #fafafa; /* 周りに幅が1px・色が#fafafaの枠線を入れる */
    margin-top: 5px; /* 上に5pxの外側余白 */
    margin-bottom: 5px; /* 下に5pxの外側余白 */
    margin-left: auto; /* 右寄せ */
  }

  .list-bar {
    display: block; /* ブロック要素にする */
    width: 25px; /* 横幅25px */
    height: 2px; /* 高さ2px */
    margin: 5px auto; /* 上下に5px、左右は水平方向に中央寄せの内側余白 */
    background-color: #fafafa; /* 背景色#fafafa; */
  }

  .list-bar:first-child {
    margin-top: 10px; /* 上に10pxの外側余白 */
  }

  .nav-list {
    display: none; /* 画面上で非表示にする */
    width: 100%; /* 横幅いっぱい */
    line-height: 50px; /* 行の高さ50px */
    border-bottom: 1px solid gray; /* 下のみ幅が1px・色がgrayの実線を入れる */
    text-align: center; /* 文字を中央揃えにする */
    background-color: rgba(0, 0, 0, 0.9); /* 背景色を半透明の黒にする */
  }

  .nav-list:last-child {
    /* 兄弟要素のグループの中で最後の要素 */
    border: none; /* ボーダーは表示されず、太さも0になる */
  }

  /* MainVisual */

  #mv {
    background-image: url(../img/code.png); /* 背景画像を設定する */
  }

  .mv-title {
    font-size: 40px; /* フォントサイズを、40pxに設定 */
  }

  .mv-text {
    font-size: 18px; /* フォントサイズを、18pxに設定 */
  }

  /* Portfolio */

  .production-group {
    width: 300px; /* 横幅300px */
  }

  .production {
    margin-right: 0px; /* 右に0pxの外側余白 */
  }

  /* Feature */

  #feature {
    background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
    background-position: center; /* 背景画像を中央に配置 */
  }

  .strength-group {
    flex-flow: row wrap; /* 横並び 複数行 */
    width: 320px; /* 横幅320px */
  }

  .strength {
    margin-top: 10px; /* 上に10pxの外側余白 */
    margin-right: 0px; /* 右に0pxの外側余白 */
  }

  .strength:first-child {
    /* 兄弟要素のグループの中で最初の要素 */
    margin-top: 0; /* 上に0pxの外側余白 */
  }

  /* Profile */

  .profile-group {
    flex-flow: row wrap; /* 横並び 複数行 */
    text-align: center; /* 文字を中央揃えにする */
  }

  .profile-group .left-content {
    margin-bottom: 20px; /* 下に20pxの外側余白 */
  }

  /* Contact */

  .contact-group {
    flex-flow: row wrap; /* 横並び 複数行 */
    width: 100%; /* 横幅いっぱい */
    text-align: center; /* 文字を中央揃えにする */
  }

  .left-contact-content {
    width: 100%; /* 横幅いっぱい */
  }

  .right-contact-content {
    width: 100%; /* 横幅いっぱい */
    margin-top: 20px; /* 上に20pxの外側余白 */
  }

  .right-contact-content .fa {
    font-size: 50px; /* フォントサイズを、50pxに設定 */
    margin-right: 8px; /* 右に8pxの外側余白 */
  }

  /* Footer */
}
